# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.DS_Store
*.DS_Store/
DS_Store/*

*.vscode/
*.vscode/**/*
.vscode/
*.vscode/*

#include library files
!Linux/lib/Dynamic/Linux/lib/libBigNumbers.so
!Linux/lib/Static/Linux/lib/libBigNumbers.a

!MacOS/lib/Dynamic/MacOS/lib/libBigNumbers.dylib
!MacOS/lib/Static/MacOS/lib/libBigNumbers.a

!Windows/lib/Dynamic/Windows/MinGW 32-bit/lib/libBigNumbers.dll
!Windows/lib/Dynamic/Windows/MinGW 32-bit/lib/libBigNumbers.dll.a
!Windows/lib/Dynamic/Windows/Visual Studio 2019 32-bit/lib/BigNumbers.dll
!Windows/lib/Dynamic/Windows/Visual Studio 2019 32-bit/lib/BigNumbers.ilk
!Windows/lib/Dynamic/Windows/Visual Studio 2019 64-bit/lib/BigNumbers.dll
!Windows/lib/Dynamic/Windows/Visual Studio 2019 64-bit/lib/BigNumbers.ilk

!Windows/lib/Static\Windows\MinGW 32-bit\lib\libBigNumbers.a
!Windows/lib/Static\Windows\Visual Studio 2019 32-bit\lib\BigNumbers.lib
!Windows/lib/Static\Windows\Visual Studio 2019 64-bit\lib\BigNumbers.lib